<.live_component
    module={AmnesiaWeb.CountLive.Counter}
    id="count_dogs"
    title="Hello Bruce's Puppy"
    class="bg-gray-400"
    count={0}
    image="https://upload.wikimedia.org/wikipedia/commons/6/6e/Golde33443.jpg"
/>
<.live_component
    module={AmnesiaWeb.CountLive.Counter}
    id="counter"
    title="Hello Cornelia's Pigs"
    class="bg-gray-400"
    count={1}
/>
